.generate__button{
  z-index: 12;
  position: absolute;
  top:18%;
  right: 9%;
  border-radius: 0;
  transition: 200ms var(--cubic-bezier);
}
// .generate__button:active{
//   // scale: 1.4;
//   // height: 100px;
// }
.speaker {
  z-index: 12;
  position: absolute;
  top:30%;
  right:1%;
  transition: 200ms var(--cubic-bezier);
}

.tense{
  cursor: pointer;
  border-radius: 7px;
  transition: 500ms var(--cubic-bezier);
}
.buttons {
    display: flex;
  justify-content: space-around;
  margin-top: 10px;
  line-height: 20px;
  }
.test {
  position: absolute;
}  

.button {
  cursor: pointer;
  margin-top: 5px;
  min-width: 30px;
  min-height: 30px;
  display: block;
  line-height: 5px;
  top:50%; 
  left: 50%;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.05;
  letter-spacing: 0.03em;
  color: transparent;
  background: #333131;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 2px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 2px 0px 23px 12px white;
  transition: 500ms var(--cubic-bezier);
  &:hover,
  &:focus{ 
    color: white;
    // background: red ; 
    box-shadow:var(--accent-shadow);
  }
}
.color__blue {
  box-shadow: rgb(0, 87, 250) 0px 0px 4px 3px, white 0px 0px 10px 5px;
  bottom: 10px;
  left: 10px;
}

.color__green {
  bottom: 10px;
  right: 10px;
  box-shadow: rgb(19, 246, 49) 0px 0px 4px 3px, rgb(255, 255, 255) 0px 0px 10px 5px;
}
// .color__green:focus-within{
//   scale: 1.5;
//   width: 100px;
// }

.color__red {
  left: 10px;
  top: 15px;
  box-shadow: rgb(255, 5, 5) 0px 0px 4px 3px, rgb(255, 255, 255) 0px 0px 10px 5px;
}
.color__item {
  position: absolute;
  align-items: center;
  transition: 300ms ease-in;
  margin-bottom: 10px;
  transition: 300ms var(--cubic-bezier);
}
.color__item:active{
  width: 60px;
}
@media screen and (min-height: 668px) {
  .color__item {
    margin-bottom: 50px;
  }
}