.generate__button{
  z-index: 12;
  position: absolute;
  top:18%;
  right: 9%;

  border-radius: 0;
}
.speaker {
  z-index: 12;
  position: absolute;
  top:30%;
  right:1%;
}

.tense{
  cursor: pointer;
  border-radius: 7px;
  transition: 500ms var(--cubic-bezier);
}
.buttons {
    display: flex;
  justify-content: space-around;
  margin-top: 10px;
  line-height: 20px;
  }
.test {
  position: absolute;
}  

.button {
  cursor: pointer;
  margin-top: 5px;
  min-width: 30px;
  min-height: 30px;
  display: block;
  line-height: 5px;
  top:50%; 
  left: 50%;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.05;
  letter-spacing: 0.03em;
  color: transparent;
  background: #333131;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 2px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 2px 0px 23px 12px white;
  transition: 500ms var(--cubic-bezier);
  &:hover,
  &:focus{ 
    color: white;
    // background: red ; 
    box-shadow:var(--accent-shadow);
  }
}
.png__triangle{
  padding-top: 4px;
  margin-top: -2px;
  border-radius: 0;
  margin-left: -22.5px;
}
#present__s {
  display: block;
  height: 0;
  width: 0;
  border-right:27px solid transparent;
  border-left: 27px solid transparent;
  border-bottom: 44px solid white;
  transition: 500ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--title-text-color);
    border-bottom: 44px solid #13f631;
  }
}
#present__c {
  display: block;
    height: 0;
    width: 0;
    border-right: 27px solid transparent;
    border-left: 27px solid transparent;
    border-bottom: 44px solid yellow;
    transition: 500ms var(--cubic-bezier);
  
    &:hover,
    &:focus {
      color: var(--title-text-color);
      border-bottom: 44px solid #13f631;
    }
}
.triangle_wrapper{
  margin-top: -5px;
  display: block;
    height: 0px;
    width: 0;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 47px solid yellow;
}

#present__s_test{
  top:10%;
  left:15%;
  transition: 500ms var(--cubic-bezier);
}
#future__s_test {
  top: 10%;
  left: 26%;
  transition: 500ms var(--cubic-bezier);
}
#past__s_test{
  top:9%;
  left: 13.2%;
  transition: 500ms var(--cubic-bezier);
}
#past__s {
    margin-top: 3px;
      width: 37px;
      height: 37px;
  background-color: white;
  border: solid 4px #0057fa;
  box-shadow: 0px 0px 5px 2px #0057fa, 0px 0px 5px 5px white;
  transition: 500ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: #0057fa;
    box-shadow: var(--accent-shadow-tense);
  }
}
#past__c {
  margin-top: 3px;
    width: 37px;
    height: 37px;
  background-color: yellow;
  border: solid 4px #0057fa;
  box-shadow: 0px 0px 5px 2px #0057fa, 0px 0px 5px 5px yellow;

  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: #0057fa;
    box-shadow: 0px 0px 5px 10px yellow;
  }
}
#past__p {
  margin-top: 3px;
    width: 37px;
    height: 37px;
  background-color: black;
  border: solid 4px #0057fa;
  box-shadow: 0px 0px 5px 2px #0057fa, 0px 0px 5px 5px black;

  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: #0057fa;
    box-shadow: 0px 0px 5px 7px black;
    ;
  }
}
#past__pc {
  margin-top: 3px;
    width: 37px;
    height: 37px;
    background-color: black;
  border: solid 4px #0057fa;
  box-shadow: 0px 0px 5px 3px black, 0px 0px 5px 7px yellow;
  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: black;
    box-shadow: 0px 0px 5px 10px yellow;
  }
}
#future__s {
  border-radius: 20px;
  margin-top: 3px;
    width: 37px;
    height: 37px;
  background-color: white;
  border: solid 4px red;
  box-shadow: 0px 0px 5px 2px red, 0px 0px 5px 5px white;

  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: red;
    box-shadow: 0px 0px 5px 7px white;

  }
}
#future__c {
  border-radius: 20px;
  margin-top: 3px;
    width: 37px;
    height: 37px;
  background-color: yellow;
  border: solid 4px red;
  box-shadow: 0px 0px 5px 2px red, 0px 0px 5px 5px yellow;

  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: red;
    box-shadow: 0px 0px 5px 7px yellow;
    
  }
}
#future__p {
border-radius: 20px;
    margin-top: 3px;
      width: 37px;
      height: 37px;
  background-color: black;
  border: solid 4px red;
  box-shadow: 0px 0px 5px 2px red, 0px 0px 5px 5px black;

  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: red;
    box-shadow: 0px 0px 5px 7px black;
    ;
  }
}
#future__pc {
    margin-top: 3px;
      width: 37px;
      height: 37px;
    border-radius: 20px;
    background-color: black;
    border: solid 4px red;
    box-shadow: 0px 0px 5px 3px black, 0px 0px 5px 7px yellow;
  
    &:hover,
    &:focus {
      color: var(--title-text-color);
      background-color: black;
      box-shadow: 0px 0px 5px 10px yellow;
    }
}
#conditionals {
  border: solid 4px #ff66e0;
  box-shadow: 0px 0px 5px 3px #ff66e0;
  &:hover,
  &:focus {
    color: var(--title-text-color);
    background-color: var(--accent-bg-color);
    box-shadow: var(--accent-shadow-tense);
  }
}
.present__s {
  box-shadow: var(--present--s);
}
.present__p {
  box-shadow: var(--present--p);
}
.present__pc {
  box-shadow: var(--present--pc)
}
.present__c {
  box-shadow: var(--present--c);
}
.plan__f {
  box-shadow: var(--present--c);
}
.past__s {
  box-shadow: var(--past--s);
}
.past__c {
  box-shadow: var(--past--c);
}
.past__p {
  box-shadow: var(--past--p);
}
.past__pc {
  box-shadow: var(--past--pc);
}
.future__s {
  box-shadow: var(--future--s);
}
.future__c {
  box-shadow: var(--future--c);
}
.future__p {
  box-shadow: var(--future--p);
}
.future__pc {
  box-shadow: var(--future--pc);
}
