.container {
    position: relative;
    // z-index: 500;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    // margin: 0 auto;
    // padding: 0 10px;
}

@media screen and (max-width:279px) {
// .content{
//     margin-top: 50px;
// }
.content__item {
    margin: 0 0 10px 10px;
}
}
@media screen and (min-width:280px) {
.content {
        padding-top: 160px;
        padding-left: 30px;
    }
    .content__item {
        margin: 0 0 20px 40px;
    }
}
@media screen and (min-width:412px) {
    .content{
        padding: 200px 0 0 60px;
    }
    .arrow__bottom{
        top:43%;
    }
}
 @media screen and (min-width: 479px) {
.content{
    padding-top: 130px;
} 
.content__item{
    margin: 0 0 40px 60px;
    
}
 }
 
 @media screen and (min-width: 667px) {
  .content{
    display: flex;
        padding-top: 16%;
        margin-left: 0;
  }  
  .content__item {
      margin: 0 0 0px 20px;
  }
  .text__area{
    text-align: center;
    transform: translate(-50%, 0);
  }
  .prompt__word{
    top:30px;
    left:6%;
  }
  .prompt__question{
top:30px;
left:6%;
  }
  .generate__button{
    top: 60px;
    right: 10px;
  }
  .speaker{
    top:50px;
    left:10px;
  }
 
}
@media screen and (orientation:landscape) {
    .color__item{
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 767px){
    .container {
max-width: 1000px;
    max-height: 900px;
      }
.header__burger{
width: 50px;
height: 31px;
top: 15px;
right:15px;
}
.header__burger span {
    height: 3px;
    top: 14px;
}
.header__burger:before,
.header__burger:after{
height: 3px;
}
.header__list li{
margin: 0 0 40px 0;
}
.header__burger.active:before {
    top: 14px;
}
.header__burger.active:after {
    bottom: 14px;
}
}

