.popup {
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top:0;
    left:0;
    transition: 300ms ease-in;
    opacity: 1;
}
.popup.close{
    position: absolute;
    left:100%;
    opacity: 0;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    
}
.arrow__top{
    position: absolute;
    top:3%;
    right:18%;
    transition: 300ms, ease-in;
}
.arrow__bottom {
    position: absolute;
    top: 47%;
    right: 18%;
}
.arrow__top__text.text{
    position: absolute;
    
    width: 180px;
    top: 15%;
    font-size: 25px;
    padding: 7px;
    box-shadow: 2px 0px 23px 12px red;
}
.arrow__bottom__text.text{
    position: absolute;
    width: 160px;
        left: 55px;
        top: 45%;
        font-size: 25px;
        padding: 7px;
        box-shadow: 2px 0px 23px 12px red;
}
@media screen and (max-width:666.8px){
    .arrow__top__text.text {
left: 10%;
    }
}
@media screen and (min-width: 667px) {
   .arrow__bottom {
       top: 150px;
       right: 30px;
   }
   .arrow__bottom__text.text {
left: 135px;
    top: 44%;
   }
   .arrow__top{
    top:40%;
    left:40px;
    transform: scale(-1, -1);
   }
   .arrow__top__text.text{
    right: 140px;
    top:40%;
   }
}