.container {
    position: relative;
    // z-index: 500;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // margin: 0 auto;
    // padding: 0 10px;
}
// .header {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     left: 0;
// }

.header__burger {
    z-index: 10;
    position: absolute;
    width: 30px;
    height: 22px;
    top: 15px;
    right: 15px;
}

.header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: 300ms ease-out;
}

.header__burger:before,
.header__burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 300ms ease-out;
}
.header__burger:before {
    top: 0;
}
.header__burger:after {
    bottom: 0;
}
.header__burger.active:before {
    transform: rotate(45deg);
    top: 11px;
    background-color: #fff;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #fff;
}
.header__burger.active span {
    transform: scale(0);
}
.header__list {
    display: block;
}
.header__list li {
    margin: 0 0 20px 0;
}
.header__link {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: bald;
    margin-left: 20px;
}
.header__menu {
    z-index: 13;
    position: fixed;
    top: 0;
    left:-100%;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 10px 20px 10px;
    transition: 300ms ease-in;
}
.header__menu.active{
    left:0;
}
@media screen and (max-width:279px) {
// .content{
//     margin-top: 50px;
// }
.content__item {
    margin: 0 0 10px 10px;
}
}
@media screen and (min-width:280px) {
.content {
        padding-top: 160px;
        padding-left: 30px;
    }
    .content__item {
        margin: 0 0 20px 40px;
    }
}
@media screen and (min-width:412px) {
    .content{
        padding: 200px 0 0 60px;
    }
    .arrow__top{
        top:7%;
    }
    .arrow__bottom{
        top:43%;
    }
}
 @media screen and (min-width: 479px) {
.content{
    padding-top: 130px;
} 
.content__item{
    margin: 0 0 40px 60px;
    
}
 }
 
 @media screen and (min-width: 667px) {
  .content{
    display: flex;
        padding-top: 16%;
        margin-left: 0;
  }  
  .content__item {
      margin: 0 0 0px 20px;
  }
  .text__area{
    display: none;
    text-align: center;
    transform: translate(-50%, 0);
  }
  .prompt__word{
    top:30px;
    left:6%;
  }
  .prompt__question{
top:30px;
left:6%;
  }
  .generate__button{
    top: 60px;
    right: 10px;
  }
  .speaker{
    top:200px;
    left:10px;
  }
 
}
@media screen and (min-width: 767px){
    .container {
max-width: 1000px;
    max-height: 900px;
      }
.header__burger{
width: 50px;
height: 31px;
top: 15px;
right:15px;
}
.header__burger span {
    height: 3px;
    top: 14px;
}
.header__burger:before,
.header__burger:after{
height: 3px;
}
.header__list li{
margin: 0 0 40px 0;
}
.header__burger.active:before {
    top: 14px;
}
.header__burger.active:after {
    bottom: 14px;
}
}

